*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: rgb(21, 160, 44);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
     display: inline-blocks;
     margin: 0 16px;
}